---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/pro/result/34449810-6d17-40c1-bc77-56eb40b3781f/similar/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24ea7-oZ5OlOGIC/BTPjGzGMjoPJJpjTE"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "submitter": {
                "country": "JP"
              },
              "indexedAt": "2021-04-16T14:42:05.803Z",
              "task": {
                "visibility": "public",
                "method": "manual",
                "domain": "jpot-d.top",
                "time": "2020-11-01T03:26:39.371Z",
                "uuid": "2360399c-212b-40e6-ba6e-f59e7d606298",
                "url": "http://jpot-d.top/"
              },
              "stats": {
                "uniqIPs": 2,
                "consoleMsgs": 0,
                "uniqCountries": 2,
                "dataLength": 10741810,
                "encodedDataLength": 10758689,
                "requests": 73
              },
              "page": {
                "country": "MY",
                "server": "Apache-Coyote/1.1",
                "domain": "jpot-d.top",
                "ip": "210.1.226.124",
                "mimeType": "text/html",
                "asnname": "TECHAVENUE-AP TechAvenue Malaysia, MY",
                "asn": "AS45785",
                "url": "http://jpot-d.top/",
                "status": "200"
              },
              "brand": [
                {
                  "country": [
                    "jp"
                  ],
                  "name": "Japan Post",
                  "vertical": [
                    "Transportation"
                  ],
                  "key": "japanpost",
                  "tags": [
                    "builtin"
                  ]
                }
              ],
              "_id": "2360399c-212b-40e6-ba6e-f59e7d606298",
              "sort": [
                1604201199371,
                "2360399c-212b-40e6-ba6e-f59e7d606298"
              ],
              "result": "https://urlscan.io/api/v1/result/2360399c-212b-40e6-ba6e-f59e7d606298/",
              "screenshot": "https://urlscan.io/screenshots/2360399c-212b-40e6-ba6e-f59e7d606298.png"
            },
            {
              "submitter": {
                "country": "JP"
              },
              "indexedAt": "2021-04-16T14:42:05.141Z",
              "task": {
                "visibility": "public",
                "method": "api",
                "domain": "jpot-d.top",
                "time": "2020-11-01T02:48:04.470Z",
                "uuid": "f942ca04-0bef-49cd-9083-22afda73b16f",
          [...]
