---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/pro/result/34449810-6d17-40c1-bc77-56eb40b3781f/similar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2477c-065N/rQb0zOp7GlyraBZ6PEiq3A"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "indexedAt": "2020-08-15T12:44:21.278Z",
              "task": {
                "visibility": "public",
                "method": "manual",
                "domain": "jppost-dko.top",
                "time": "2020-08-15T12:43:40.928Z",
                "uuid": "61cf8931-bb00-4bd0-ae21-76c3136e8785",
                "url": "http://jppost-dko.top/"
              },
              "stats": {
                "uniqIPs": 2,
                "consoleMsgs": 0,
                "uniqCountries": 2,
                "dataLength": 10741812,
                "encodedDataLength": 10758692,
                "requests": 73
              },
              "page": {
                "country": "SG",
                "server": "Apache-Coyote/1.1",
                "city": "Singapore",
                "domain": "jppost-dko.top",
                "ip": "43.245.198.134",
                "mimeType": "text/html",
                "asnname": "IPTELECOM-AP IPTELECOM ASIA, MY",
                "asn": "AS55799",
                "url": "http://jppost-dko.top/",
                "status": "200"
              },
              "brand": [
                {
                  "country": [
                    "jp"
                  ],
                  "name": "Japan Post",
                  "vertical": [
                    "Transportation"
                  ],
                  "key": "japanpost",
                  "tags": [
                    "builtin"
                  ]
                }
              ],
              "_id": "61cf8931-bb00-4bd0-ae21-76c3136e8785",
              "sort": [
                1597495420928,
                "61cf8931-bb00-4bd0-ae21-76c3136e8785"
              ],
              "result": "https://urlscan.io/api/v1/result/61cf8931-bb00-4bd0-ae21-76c3136e8785/",
              "screenshot": "https://urlscan.io/screenshots/61cf8931-bb00-4bd0-ae21-76c3136e8785.png"
            },
            {
              "indexedAt": "2020-08-14T06:29:22.520Z",
              "task": {
                "visibility": "public",
                "method": "manual",
                "domain": "43.245.198.134",
                "time": "2020-08-14T06:28:42.656Z",
                "uuid": "2a57c75d-6c3d-4362-9d80-037965db7aca",
                "url": "http://43.245.198.134"
              },
              "st[...]
