---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/pro/result/34449810-6d17-40c1-bc77-56eb40b3781f/similar/?q=date:%3Enow-7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-User-Country:
      - JP
      Etag:
      - W/"45-aQCPH7iGIl6pW29cBW7iPyJU/88"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [],
          "total": 0,
          "took": 376,
          "has_more": false
        }
  recorded_at: Fri, 03 Dec 2021 23:32:07 GMT
recorded_with: VCR 6.0.0
