---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/pro/search?q=domain:wikipedia.org&size=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b162-4QCeA4B5CnvDdJ/D+bsIvy7+fbw"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "api",
                "time": "2019-09-14T04:42:00.941Z",
                "source": "99196498",
                "url": "http://whistless.com/redirect/"
              },
              "stats": {
                "uniqIPs": 4,
                "consoleMsgs": 154,
                "dataLength": 1662787,
                "encodedDataLength": 582434,
                "requests": 37
              },
              "page": {
                "country": "US",
                "server": "mw1322.eqiad.wmnet",
                "city": "",
                "domain": "en.wikipedia.org",
                "ip": "2620:0:862:ed1a::1",
                "asnname": "WIKIMEDIA - Wikimedia Foundation Inc., US",
                "asn": "AS14907",
                "url": "https://en.wikipedia.org/wiki/Microsoft_Office",
                "ptr": ""
              },
              "uniq_countries": 2,
              "_id": "bd4884b4-0784-4b17-8ac1-19b21c4e27c6",
              "result": "https://urlscan.io/api/v1/result/bd4884b4-0784-4b17-8ac1-19b21c4e27c6"
            },
            {
              "task": {
                "visibility": "public",
                "method": "api",
                "time": "2019-09-14T04:41:49.705Z",
                "source": "99196498",
                "url": "http://v2olanmswioeoema.xyz/office365/"
              },
              "stats": {
                "uniqIPs": 3,
                "consoleMsgs": 154,
                "dataLength": 1662674,
[...]
