---
http_interactions:
- request:
    method: post
    uri: https://urlscan.io/api/v1/scan/
    body:
      encoding: UTF-8
      string: '{"url":"https://www.wikipedia.org/","visibility":"private"}'
    headers:
      Api-Key:
      - "<CENSORED/>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-User-Country:
      - JP
      X-Rate-Limit-Scope:
      - user
      X-Rate-Limit-Action:
      - private
      X-Rate-Limit-Window:
      - day
      X-Rate-Limit-Limit:
      - '20000'
      X-Rate-Limit-Remaining:
      - '19996'
      X-Rate-Limit-Reset:
      - '2021-12-04T00:00:00.000Z'
      X-Rate-Limit-Reset-After:
      - '438'
      Etag:
      - W/"162-bAq7gZ0093N9Hn6AKUXNbQZ7Vjs"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "message": "Submission successful",
          "uuid": "5ff429a5-b4d3-4868-b5fc-e49895798943",
          "result": "https://urlscan.io/result/5ff429a5-b4d3-4868-b5fc-e49895798943/",
          "api": "https://urlscan.io/api/v1/result/5ff429a5-b4d3-4868-b5fc-e49895798943/",
          "visibility": "private",
          "options": {},
          "url": "https://www.wikipedia.org/",
          "country": "jp"
        }
  recorded_at: Fri, 03 Dec 2021 23:52:39 GMT
recorded_with: VCR 6.0.0
