---
http_interactions:
- request:
    method: post
    uri: https://urlscan.io/api/v1/scan/
    body:
      encoding: UTF-8
      string: '{"url":"https://www.wikipedia.org/","public":"on"}'
    headers:
      Api-Key:
      - "<CENSORED/>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1dd-5XYbM65kZsYz0aJaW5NH3VLX64s"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "message": "Submission successful",
          "uuid": "a2b35973-84b5-4a4e-9fd4-3bfd6c8b148c",
          "result": "https://urlscan.io/result/a2b35973-84b5-4a4e-9fd4-3bfd6c8b148c/",
          "api": "https://urlscan.io/api/v1/result/a2b35973-84b5-4a4e-9fd4-3bfd6c8b148c/",
          "visibility": "public",
          "options": {
            "useragent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.87 Safari/537.36"
          },
          "url": "https://www.wikipedia.org/"
        }
  recorded_at: Mon, 29 Apr 2019 14:15:34 GMT
recorded_with: VCR 4.0.0
