---
http_interactions:
- request:
    method: post
    uri: https://urlscan.io/api/v1/scan/
    body:
      encoding: UTF-8
      string: '{"url":"https://www.wikipedia.org/","public":"on"}'
    headers:
      Api-Key:
      - "<CENSORED/>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b6-bUp+L9QWEycPi8xj0l35dsKhEv8"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "message": "Submission successful",
          "uuid": "ac04bc14-4efe-439d-b356-8384843daf75",
          "result": "https://urlscan.io/result/ac04bc14-4efe-439d-b356-8384843daf75/",
          "api": "https://urlscan.io/api/v1/result/ac04bc14-4efe-439d-b356-8384843daf75/",
          "visibility": "public",
          "options": {
            "useragent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.84 Safari/537.36"
          }
        }
  recorded_at: Tue, 16 Jan 2018 06:54:56 GMT
recorded_with: VCR 4.0.0
