---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/pro/search?filter=$phishing_microsoft&size=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ee3b-uZ4ynNcUj+ZraKY6SRUTYh49Jys"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "manual",
                "time": "2019-09-14T08:16:13.304Z",
                "source": "web",
                "url": "https://vincl-energies.com/common/oauth2/?rid=437062298d3349199f02b6debeae5591"
              },
              "stats": {
                "uniqIPs": 2,
                "consoleMsgs": 0,
                "dataLength": 1202382,
                "encodedDataLength": 609059,
                "requests": 6
              },
              "page": {
                "country": "FR",
                "server": "nginx",
                "city": "",
                "domain": "vincl-energies.com",
                "ip": "145.239.197.5",
                "asnname": "OVH, FR",
                "asn": "AS16276",
                "url": "https://vincl-energies.com/common/oauth2/?rid=437062298d3349199f02b6debeae5591",
                "ptr": "digltemis.com"
              },
              "uniq_countries": 1,
              "_id": "829e1b6b-1ccb-473c-b0b5-035abd427053",
              "result": "https://urlscan.io/api/v1/result/829e1b6b-1ccb-473c-b0b5-035abd427053"
            },
            {
              "task": {
                "visibility": "public",
                "method": "manual",
                "time": "2019-09-14T08:08:05.083Z",
                "source": "web",
                "url": "http://mawared-group.com/SC/dt/5/index.php?m=admin@foodtravelexperts.com"
              },
              "stats": {
                "uniqIPs": 3,
                "consoleMsgs": 3,
         [...]
