---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?offset=0&q=domain:wikipedia.org&size=100&sort=_score
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16e80-YGfsovDo6ODkn/iDtIzKrhyxUu8"
      X-Proxy-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "api",
                "time": "2019-04-29T14:11:38.191Z",
                "source": "api",
                "url": "https://www.wikipedia.org/"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": 150851,
                "encodedDataLength": 62932,
                "requests": 6
              },
              "page": {
                "country": "US",
                "server": "mw1332.eqiad.wmnet",
                "city": "",
                "domain": "www.wikipedia.org",
                "ip": "2620:0:862:ed1a::1",
                "asnname": "WIKIMEDIA - Wikimedia Foundation Inc., US",
                "asn": "AS14907",
                "url": "https://www.wikipedia.org/",
                "ptr": ""
              },
              "uniq_countries": 1,
              "_id": "117b39b2-2c5d-40d4-a96d-e45cbbf25f4c",
              "result": "https://urlscan.io/api/v1/result/117b39b2-2c5d-40d4-a96d-e45cbbf25f4c"
            },
            {
              "task": {
                "visibility": "public",
                "method": "api",
                "time": "2019-04-29T14:11:08.290Z",
                "source": "api",
                "url": "http://wikipedia.org"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": 150851,
                "encodedDa[...]
