---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?offset=0&q=domain:wikipedia.org&size=100&sort=_score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17327-xisinyWZ7tk56lsKOBc1USbCD8k"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "manual",
                "time": "2019-07-24T01:13:59.516Z",
                "source": "web",
                "url": "https://en.wikipedia.org/wiki/Cozy_Bear"
              },
              "stats": {
                "uniqIPs": 3,
                "consoleMsgs": 161,
                "dataLength": 983429,
                "encodedDataLength": 321199,
                "requests": 16
              },
              "page": {
                "country": "US",
                "server": "mw1275.eqiad.wmnet",
                "city": "",
                "domain": "en.wikipedia.org",
                "ip": "2620:0:862:ed1a::1",
                "asnname": "WIKIMEDIA - Wikimedia Foundation Inc., US",
                "asn": "AS14907",
                "url": "https://en.wikipedia.org/wiki/Cozy_Bear",
                "ptr": ""
              },
              "uniq_countries": 1,
              "_id": "a44689dc-723e-4639-8f48-9340b46179dc",
              "result": "https://urlscan.io/api/v1/result/a44689dc-723e-4639-8f48-9340b46179dc"
            },
            {
              "task": {
                "visibility": "public",
                "method": "manual",
                "time": "2019-07-23T21:49:10.397Z",
                "source": "web",
                "url": "http://en.wikipedia.org/wiki/User:pure275"
              },
              "stats": {
                "uniqIPs": 2,
                "consoleMsgs": 160,
                "dataLength": 813694,
[...]
