---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=domain:wikipedia.org&size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Scope:
      - user
      X-Rate-Limit-Action:
      - search
      X-Rate-Limit-Window:
      - day
      X-Rate-Limit-Limit:
      - '150000'
      X-Rate-Limit-Remaining:
      - '149990'
      X-Rate-Limit-Reset:
      - '2020-08-17T00:00:00.000Z'
      X-Rate-Limit-Reset-After:
      - '43070'
      Etag:
      - W/"1e4e8-Jyg+12Zqf+VRsyUPdKF9/A3aWpY"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "indexedAt": "2020-08-16T11:02:56.516Z",
              "task": {
                "visibility": "public",
                "method": "api",
                "domain": "zh.wikinews.org",
                "time": "2020-08-16T11:02:37.784Z",
                "uuid": "d35ac29e-bfd7-4ed9-98e2-f5f01adf0b6c",
                "url": "https://zh.wikinews.org/wiki/%E7%BF%92%E8%BF%91%E5%B9%B3%EF%BC%9A%E4%B8%8D%E6%96%B7%E9%96%8B%E6%8B%93%E7%95%B6%E4%BB%A3%E4%B8%AD%E5%9C%8B%E9%A6%AC%E5%85%8B%E6%80%9D%E4%B8%BB%E7%BE%A9%E6%94%BF%E6%B2%BB%E7%B6%93%E6%BF%9F%E5%AD%B8%E6%96%B0%E5%A2%83%E7%95%8C"
              },
              "stats": {
                "uniqIPs": 3,
                "consoleMsgs": 129,
                "uniqCountries": 1,
                "dataLength": 1186238,
                "encodedDataLength": 367711,
                "requests": 33
              },
              "page": {
                "country": "US",
                "server": "mw1332.eqiad.wmnet",
                "domain": "zh.wikinews.org",
                "ip": "2620:0:862:ed1a::1",
                "mimeType": "text/html",
                "asnname": "WIKIMEDIA, US",
                "asn": "AS14907",
                "url": "https://zh.wikinews.org/wiki/%E7%BF%92%E8%BF%91%E5%B9%B3%EF%BC%9A%E4%B8%8D%E6%96%B7%E9%96%8B%E6%8B%93%E7%95%B6%E4%BB%A3%E4%B8%AD%E5%9C%8B%E9%A6%AC%E5%85%8B%E6%80%9D%E4%B8%BB%E7%BE%A9%E6%94%BF%E6%B2%BB%E7%B6%93%E6%BF%9F%E5%AD%B8%E6%96%B0%E5%A2%83%E7%95%8C",
                "status": "200"
              },
              "_id": "d35ac29e-bfd7-4ed9-98e2-f5f01adf0b6c",
              "sort": [
                1597575757784,
                "d35ac29e-bfd7-4ed9-98e2-f5f01adf0b6c"
              ],
              "result": "https://urlscan.io/api/v1/result/d35ac29e-bfd7-4ed9-98e2-f5f01adf0b6c/",
              "screenshot": "https://urlscan.io/screenshots/d35ac29e-bfd7-4ed9-98e2-f5f01adf0b6c.png"
            },
            {
              "indexedAt": "2020-08-16T08:16:20.535Z",
              "task": {
                "visibility": "public",
                "method": "api",
                "domain": "en.wikipedia.org",
                "time": "2020-08-16T08:16:00.917Z",
                "uuid": "93ad523b-f73f-4461-bed3-bd40dd77d576",
                "url": "https://en.wikipedia.org/wiki/Microsoft_Office"
          [...]
